.body {
    background-color: hsl(0, 0%, 95%);
}

/* Cards */
.card {
    width: 92%;
    height: 50vh;
}

.sedans {
    background-color: hsl(31, 77%, 52%);
    margin: 10vh auto 0 auto;
    border-top-right-radius: 3%;
    border-top-left-radius: 3%;
}

#sedans,
#suvs,
#luxury {
    width: 70%;
    margin: 0 auto;
}

.suvs {
    background-color: hsl(184, 100%, 22%);
    margin: 0 auto;
}

.luxury {
    background-color: hsl(179, 100%, 13%);
    margin: 0 auto 3em auto;
    border-bottom-right-radius: 3%;
    border-bottom-left-radius: 3%;
}


/* Text */
p {
    font-size: 15px;
    font-family: 'Lexend Deca', sans-serif;
    font-weight: 400;
    margin-bottom: 2.5em;
    color: hsla(0, 0%, 100%, 0.75);
    line-height: 1.5em;
}

h1 {
    font-family: 'Big Shoulders Display', cursive;
    font-size: 2.5em;
    color: hsl(0, 0%, 95%);
    text-transform: uppercase;
    letter-spacing: 0.05em;
}

/* Buttons */
button {
    border-radius: 5em;
    padding: 0.85em 1.9em;
    font-size: 0.9em;
    font-family: 'Lexend Deca', sans-serif;
    border: none;
    background-color: hsl(0, 0%, 95%);
}

.sedans button {
    color:hsl(31, 77%, 52%);
}

.sedans button:hover {
    background-color:hsl(31, 77%, 52%);
    color: hsl(0, 0%, 95%);
    border: 1px solid hsl(0, 0%, 95%);
    transition: all 600ms;
}

.suvs button {
    color:hsl(184, 100%, 22%);
}

.suvs button:hover {
    background-color:hsl(184, 100%, 22%);
    color: hsl(0, 0%, 95%);
    border: 1px solid hsl(0, 0%, 95%);
    transition: all 600ms;
}

.luxury button {
    color:hsl(179, 100%, 13%);
}

.luxury button:hover {
    background-color:hsl(179, 100%, 13%);
    color: hsl(0, 0%, 95%);
    border: 1px solid hsl(0, 0%, 95%);
    transition: all 600ms;
}


/* Img */
img {
    margin-top: 2.5em;
}


/* Footer */
.attribution { 
    font-size: 11px; 
    text-align: center; 
    font-family: 'Lexend Deca', sans-serif;
    text-align: center;
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}



/* Media Query - Desktop (1440px) */
@media only screen and (min-width: 1440px) {
    .container {
        display: flex;
        justify-content: center;
        height: 100vh;

    }

    .card {
       margin: 9em 0;
       width: 25%;
       height: 75%;
    }

    .sedans {
        border-top-right-radius: 0;
        border-bottom-left-radius: 3%;
    }

    .luxury {
        border-top-right-radius: 3%;
        border-bottom-left-radius: 0;
    }

    img {
        margin-top: 5em;
    }   
   
    h1 {
        font-size: 2.95em;
        letter-spacing: 0.075em;
    }

    p {
        font-size: 17.5px;
        margin-bottom: 7.5em;
        line-height: 1.75em;
    }

    button {
        border-radius: 5em;
        padding: 0.85em 1.9em;
        font-size: 1em;
        font-family: 'Lexend Deca', sans-serif;
        border: none;
        background-color: hsl(0, 0%, 95%);
    }
}