/* Cards */
.card {
    border: 1px solid black;
    width: 95%;
    height: 45vh;
    margin: 0 auto;
}





/* Footer */
.attribution { 
    font-size: 11px; 
    text-align: center; 
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}